<h1>My sticky notes</h1>

<header>
    <h3>Welcome {{user.name}}!</h3>
    <button class="button confirm" id="addNote" (click)="addStickyNote()"><img src="../../../assets/icons/addButton.png">Note</button>
</header>

<div class="content">
    <div class="noteContainer">
        <div *ngIf="thereAreNotes; else noNotes" style="display: flex; flex-direction: row; justify-content: flex-start; flex-wrap: wrap;">
            <!-- HERE IS WHERE THE STICKY NOTES ARE DISPLAYED -->
            <div *ngFor="let note of stickyNotes" cdkDrag  [cdkDragFreeDragPosition]="note.positionX" class="stickyNote" cdkDragBoundary=".noteContainer">
                <app-stickynote 
                    [stickyNote]="note" 
                ></app-stickynote>
            </div>
        </div>

        <ng-template #noNotes style="display: flex; flex-direction: row; justify-content: center;">
            <div id="nothingToShowContainer">
                <div>{{stickyNotes}} :(</div>
                <img src="../../../assets/img/vacio.png" alt="Nothing to show">
            </div>
        </ng-template>
    </div>
</div>