<h1>My sticky notes</h1>

<h3>Welcome {{user.name}}!</h3>

<div class="content">
    <div class="noteContainer">
        <div *ngIf="thereAreNotes; else noNotes">
            <div *ngFor="let note of stickyNotes" cdkDrag class="stickyNote" cdkDragBoundary=".noteContainer">
                <app-stickynote [title]="note.title" [text]="note.text"></app-stickynote>
            </div>
        </div>

        <ng-template #noNotes style="display: flex; flex-direction: row; justify-content: center;">
            <div id="nothingToShowContainer">
                <div>{{stickyNotes}} :(</div>
                <img src="../../../assets/img/vacio.png" alt="Nothing to show">
            </div>
        </ng-template>
    </div>
</div>