/* app/styles.css */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html,
body {
    background: #ecf0f3;
}

h1 {
    margin-top: 2rem;
    text-align: center;
    font-size: 40px;
}

form{
    min-width: 300px;
    max-width: 30%;
    margin: 0px auto;
    background: rgba(255, 255, 255, 0.15);
    padding: 2rem 3rem;
    border-radius: 2.5rem;
    background-color: #ecf0f3;
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
    color: black;
    margin-top: 3rem;
}

form input {
    display: block;
    margin: 0 auto;
    margin-bottom: 1rem;
    width: 80%;
    border-radius: 0.5rem;
    padding: 1rem;
    box-shadow: inset -5px -5px 15px rgba(255, 255, 255, 0.8), inset 5px 5px 10px rgba(0, 0, 0, 0.1);
    border: 0 none;
    background: #ebf5fc;
    min-width: 200px;
}

input[type="submit"] {
    border: none;
    font-size: 1rem;
    color: #0e4d16;
    font-weight: bold;
    background-color: #bcd8c1;
    width: 10em;
    display: block;
    padding: 0.875rem 1rem;
    border-radius: 1.5rem;
    box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
    cursor: pointer;
    margin: 0 auto;
}

form input[disabled]{
    background: #ccc;
    color: white;
    cursor: not-allowed;
}

form input[type="submit"]:hover,
.back-button:hover{
    background-color: #abc4afc4;
}

form input[disabled]:hover{
    background: #ccc;
}

.validationError{
    border-left: 5px solid rgb(170, 0, 0);
}

.notMatch{
    display: block;
    margin: 0 auto;
    margin-bottom: 1rem;
    width: 70%;
    background: #e05b5ba6;
    padding: 1rem;
    min-width: 200px;
    text-align: center;
    border-radius: 1rem;
    margin-top: 0px;
}

.button-container{
    display: flex;
    margin: 0 auto;
    margin-top: 30px;
    width: 80%;
    justify-content: space-between;
}

.back-button{
    border: none;
    font-size: 1rem;
    color: #0e4d16;
    font-weight: bold;
    background-color: #bcd8c1;
    width: 10em;
    display: block;
    padding: 0.875rem 1rem;
    border-radius: 1.5rem;
    box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
    cursor: pointer;
    margin: 0 auto;
}

.confirm-button{
    color: #0e4d16;
    border-radius: 1.5rem;
    padding: 0.875rem 1rem;
    background-color: #bcd8c1;
    border-color: #bcd8c1;
    margin: 0.5em;
    cursor: pointer;
    border: 1px solid #0e4d16;
    font-size: 1em;
}

.cancel-button{
    padding: 0.875rem;
    color: white;
    border-radius: 1.5rem;
    background-color: gray;
    border-color: gray;
    margin: 0.3125em;
    cursor: pointer;
    border: 1px solid black;
    font-size: 1em;
}